{
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "extends": ["eslint:recommended", "plugin:import/recommended", "prettier"],
  "overrides": [
    {
      "files": "*.vue",
      "parser": "vue-eslint-parser",
      "extends": [
        "plugin:vue/vue3-recommended",
        "eslint:recommended",
        "plugin:import/recommended",
        "prettier"
      ],
      "plugins": ["vue", "simple-import-sort"],
      "rules": {
        "import/named": "off"
      }
    }
  ],
  "plugins": ["simple-import-sort"],
    "parser": "@babel/eslint-parser",
    "parserOptions": {
      "sourceType": "module",
      "requireConfigFile": false
    },
  "rules": {
    "simple-import-sort/imports": "error",
    "simple-import-sort/exports": "error",
    "import/first": "error",
    "import/named": "off",
    "import/no-named-as-default": 0,
    "import/newline-after-import": "error",
    "import/no-duplicates": "error",
    "import/no-unresolved": [2, { "ignore": ["^@/"] }]
  }
}
